h1 {
  /* màu chữ */
  color: blueviolet;
  /* kiểu chữ */
  font-style: italic;
  /* font chữ */
  font-family: Arial, Helvetica, sans-serif;
  /* chuyển hoa thường */
  text-transform: lowercase;
  /* căn giữa */
  text-align: center;
  /* cỡ chữ */
  font-size: 18px;
}
h1 {
  opacity: 50%;
}
